%a{ href: "/auth/rdio", id: "rdio-signin" }
  sign in with rdio 

#jenre-app
  #logo

  #info 
    %p join the listening party
  
  #searchbar
    %div
      = text_field_tag(:artist, nil, :placeholder => "Enter an artist:", :autofocus => true, id: 'artist-search')
    %div
      = text_field_tag(:song, nil, :placeholder => "Enter a song:")

    #get-song
      play!

  #rdio-api
  #content-container

    #col1
      #music-player
        %img{src: "", id: "art"}

        %div{ id: "song-info" }
          %div
            %b Track:
            %span{ id: "track" }

          %div
            %b Album:
            %span{ id: "album" }

          %div
            %b Artist:
            %span{ id: "artist" }

          %div
            %button{ id: "play" } 
            %button{ id: "pause"} 

      #clear
    
      %h3 Song Lyrics
      #lyrics-container
    #clear

    #col2
      %h3 Recent Tweets
      #tweets-container


