%h1 jenre.co

%p Wait till all the awesome is here!

#jenreapp

  %div
    = label_tag(:artist, "Artist: ")
    = text_field_tag(:artist, nil, :placeholder => "e.g., The Police", :autofocus => true)
  %div
    = label_tag(:song, "Song title: ")
    = text_field_tag(:artist, nil, :placeholder => "e.g., Roxanne")

  #submit-song-search
    "Add to playlist"
