$green: rgb(107, 191, 42);

body {
  background: url('tweed.png');
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#wrapper {
  margin: 0;
  -moz-box-shadow: inset 0 0 10em #666;  
  -webkit-box-shadow: inset 0 0 10em #666;   
  box-shadow: inset 0 0 10em black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  content: "";
}

a {
  color: white;
}

#jenre-app {
  margin: 0 auto;
  padding-top: 50px;
  width: 70%;
  min-width: 300px;
}

#rdio-signin {
  position: relative;
  float: right;
  top:10px;
  margin-right: 30px
}

#logo {
  background: url('logo2.png') center top no-repeat;
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: 149px;
}

#info {
  font-size: .9em;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

#searchbar {
  height: 25px;
}

#searchbar div {
  height: 100%;
  float: left;
  input {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 90%;
  }
}

#searchbar div:nth-child(-n+2) {
  width: 40%;
}

/* #get-song button */
#searchbar div:last-child {
  color: white;
  width: 20%;
  height: 100%;
  border-radius: 2px;
  background-color: darken($green, 5%);
  text-align: center;
  line-height: 25px;
  &:hover {
    cursor: pointer;
    background-color: darken($green, 10%);
  };
}

#art {
  border: 1px solid white;
  height: 150px; 
  width: 150px;
  float:left;
  margin-right:20px;
  margin-bottom: 10px;
}

#position-container {
  display: inline-block;
  width:200px;
  border:1px solid black;
}

#position {
  display: inline-block;
  background-color:#666;
}

#content-container {
  padding: 20px 0 20px 0;
  display: none;
  #col {
    min-width: 350px;
    width: 50%;
  }
}

#rdio-api {
  opacity: 0;
}

#music-player {
  font-size: .6em;
  vertical-align: bottom;
}

#play {
  margin-top: 10px;
  border: none;
  background-color: #6bbf2a; 
  background-image: url(/assets/play.png); 
  background-size: cover;
  width: 30px; height: 30px;
  cursor: pointer;
}

#pause {
  display: none;
  margin-top: 10px;
  border: none;
  background-color: #6bbf2a; 
  background-image: url(/assets/pause.png); 
  background-size: cover;
  width: 30px; height: 30px;
  cursor: pointer;
}

#song-info {
  padding-top: 35px;
  vertical-align: middle;
}

#col1, #col2 {
  h3 {
    color: $green;
    clear: both;
    margin: 0 0 12px 0;
  }
  width: 48%;
  padding-bottom: 30px;
}

#col1 {
  display: block;
  width: 48%;
  float: left;
}

#col2 {
  float: right;
  text-align: left;
}

#lyrics-container, #tweets-container {
  overflow: auto;
  min-width: 150px;
  font-size: .8em;
  border-radius: 2px;
  div {
    color: slategray;
  }
}

#tweets-container {
  max-height: 530px;
  padding-right: 10px;
}

#lyrics-container {
  max-height: 339px;
  padding: 20px 10px 10px 10px;
  background-color: white;
}

.tweet {
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}

footer {
  clear: both;
  height: 50px;
}

footer span {
  margin: 0 auto;
  font-size: 12px;
  width: 440px;
  display: block;
}
