body {
  background: url('broken_noise.png');
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

#jenre-app {
  margin: 0 auto;
  padding-top: 50px;
  width: 70%;
  min-width: 300px;
}

#rdio-signin {
  position: relative;
  float: right;
  top:5px;
}

#logo {
  background: url('logo.png') center top no-repeat;
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: 149px;
}

#info {
  font-size: .9em;
  text-align: center;
  margin: 0 auto;
  width: 50%;
}

#searchbar {
  height: 25px;
}

#searchbar div {
  height: 100%;
  float: left;
  input {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 90%;
  }
}

#searchbar div:nth-child(-n+2) {
  width: 40%;
}

#searchbar div:last-child {
  color: slategray;
  width: 20%;
  height: 100%;
  border-radius: 2px;
  background-color: rgb(107, 191, 42);
  text-align: center;
  line-height: 25px;
  &:hover {
    cursor: pointer;
  };
}

/* player code */

#art {
  border: 1px solid white;
  height: 150px; 
  width: 150px;
  float:left;
  margin-right:20px;
  margin-bottom: 10px;
}

#position-container {
  display: inline-block;
  width:200px;
  border:1px solid black;
}

#position {
  display: inline-block;
  background-color:#666;
}

#content-container {
  display: none;
  #col {
    min-width: 350px;
    width: 50%;
  }
}

#music-player {
  font-size: .6em;
  vertical-align: bottom;
}

#pause {
  display: none;
}

#song-info {
  padding-top: 35px;
  vertical-align: middle;
}

#col1, #col2 {
  h3 {
    clear: both;
    margin-top: 0px;
  }
  width: 48%;
}

#col1 {
  display: block;
  width: 48%;
  float: left;
}

#col2 {
  float: right;
  text-align: left;
}

.tweet {
  margin-bottom: 5px;
}

